
/*
* 媒体查询
*/

@mixin media($type) {
  @if $type == xs {
    @media (max-width: 767.9px) {
      @content;
    }
  } @else if $type == sm {
    @media (min-width: 768px) and (max-width: 991.9px) {
      @content;
    }
  } @else if $type == md {
    @media (min-width: 992px) and (max-width: 1199.9px) {
      @content;
    }
  } @else if $type == lg {
    @media (min-width: 1200px) {
      @content;
    }
  }
}


@mixin clearfix {
  &:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
  *height: 1%;
}



/**
https://v3.bootcss.com/css/#helper-classes-center
 */
 $hide-array: hidden-xs, hidden-sm, hidden-md, hidden-lg;
 @each $c in $hide-array {
   $i: index($hide-array, $c);
   .#{$c} { // SCSS 循环是从 1 开始，不是 0 哦~
     display: block;
   }
 }
 
 $visible-array: visible-xs, visible-sm, visible-md, visible-lg;
 @each $c in $visible-array {
   $i: index($visible-array, $c);
   .#{$c} { // SCSS 循环是从 1 开始，不是 0 哦~
     display: none;
   }
 }
 
 @include media(xs) {
   .visible-xs {
     display: block !important;
   }
   .hidden-xs {
     display: none !important;
   }
 }
 
 @include media(sm) {
   .visible-sm {
     display: block !important;
   }
   .hidden-sm {
     display: none !important;
   }
 }
 
 @include media(md) {
   .visible-md {
     display: block !important;
   }
   .hidden-md {
     display: none !important;
   }
 }
 
 @include media(lg) {
   .visible-lg {
     display: block !important;
   }
   .hidden-lg {
     display: none !important;
   }
 }
 

@function col-width($col:1, $total:12) {
  @return percentage($col/$total);
}

/**
  将一行分为12格
  以高像素媒体查询为主
 */
.row {
  @include clearfix;
  @include media(xs) {
    @for $i from 1 through 12 {
      .col-xs-#{$i} {
        float: left;
      }
      .col-xs-#{$i} {
        width: col-width($i);
      }
    }
  }
  @include media(sm) {
    @for $i from 1 through 12 {
      .col-sm-#{$i} {
        float: left;
      }
      .col-sm-#{$i} {
        width: col-width($i);
      }
    }
  }
  @include media(md) {
    @for $i from 1 through 12 {
      .col-md-#{$i} {
        float: left;
      }
      .col-md-#{$i} {
        width: col-width($i);
      }
    }
  }
  @include media(lg) {
    @for $i from 1 through 12 {
      .col-lg-#{$i} {
        float: left;
      }
      .col-lg-#{$i} {
        width: col-width($i);
      }
    }
  }
}

@mixin text-overflow-2{
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

@mixin hairline {
  &::after {
    position: absolute;
    box-sizing: border-box;
    content: " ";
    pointer-events: none;
    top: -50%;
    right: -50%;
    bottom: -50%;
    left: -50%;
    border: 0 solid #ebedf0;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    @content
  }
}

@mixin hairline--bottom {
  @include hairline{
    border-bottom-width: 1px;
  };
}

@mixin hairline--top {
  @include hairline{
    border-top-width: 1px;
  };
}
