@import "../../assets/_global";

.card{
  margin: 20px;
  background-color: white;
  padding: 10px;
  height: 100px;
  &__title{
    font-weight: bold;
    font-size: 20px;
  }
  &__content{
    @include text-overflow-2;
    line-height: 95%;
    margin-top: 15px;
    font-size: 14px;
  }
  &__logo{
    border-radius: 50%;
    overflow: hidden;
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
  transition: transform .1s linear;
  will-change: transform;
  &:hover{
    transform: translateY(-5%);
    box-shadow: 0 26px 40px -24px rgba(0,36,100,.3);
  }
}
.article{
  @media (max-width: 767px) {
    padding: 0 0 !important;
  }
}