@charset "UTF-8";
/* 隐藏所有 */
.horizontal::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 1px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px; }

*::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px; }

*::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background-color: rgba(0, 0, 0, 0.26); }
  *::-webkit-scrollbar-thumb:hover:active {
    background-color: #474747; }

*::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  background: #ededed;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2); }

body {
  margin: 0;
  padding: 0;
  background-color: #f5f5d5;
  font-family: Georgia, serif;
  letter-spacing: -0.01em;
  word-spacing: 0.2em;
  line-height: 1.8em;
  font-size: 62.5%;
  color: #111;
  width: 98%; }
