<div class="session-wrapper archives">
  <style>
    .archives .item{
      font-size: 25px;
    }
    .archives .title{
      font-size: 25px;
    }
  </style>
  <ul>
    <% site.posts.each(function(post,index){ %>
      <% custom_posts = []; %>
      <% temp = post.source.replace(".md","").split('/').slice(1) %>
      <% dir33 = temp.slice(0,-1) %>
      <% dir = temp.slice(0,-1).map(v=>{return []}) %>
      <% dir33[dir33.length-1]&&dir[dir.length-1].push(post.title) %>
      <h2><%-JSON.stringify(dir) %></h2>
      <h2 class="title"><%- dir %></h2>
      <li class="item"><a href="/<%- post.path.replace('"','') %>"><%- post.title %></a></li>
    <% }) %>
  </ul>
</div>