<%- css('css/post') %>
<div class="middle">
  <article class="markdown-body article session-wrapper wow animate__fadeIn" data-wow-duration="1s">
    <% if(page.type == "link"){ %>
      <%- partial('./flink.ejs') %>
    <% } %>
    <% if(page.type == undefined){ %>
      <%- markdown(page._content,page.type) %>
    <% } %>
  </article>
</div>

<% if(page.comments == undefined?true:page.comments){ %>
  <div id="vcomments" class="session-wrapper" style="animation-duration: 2s;animation-delay: 0ms;width: 100%;margin-top:30px;"></div>
<% } %>  