<% if(page.comments == undefined?true:page.comments){ %>
  <script>
    var script = document.createElement('script');
    script.async = true;
    script.src="//unpkg.com/valine/dist/Valine.min.js"
    script.onload = function(){
      new Valine({
        el: '#vcomments',
        appId: '<%- theme.valine.appId %>',
        appKey: '<%- theme.valine.appKey %>'
      })
      var el = document.getElementById('vcomments');
      if (el) {
        el.classList.add("animate__fadeIn");
        el.setAttribute("data-wow-duration","1s");
        el.classList.add("wow");
      }
    }
    document.body.appendChild(script)
  </script>
<% } %>
<script>
  var wow = new WOW({
    boxClass: 'wow',
    animateClass: 'animated',
    offset: 0,
    mobile: true,
    live: true
  });
  wow.init(); 
</script>
</body>
</html>